<!DOCTYPE html>
<html>
<!-- Derived from http://themes.trendywebstar.com/BusinessBox/ -->
<!--[if lt IE 9]>
<script type="text/javascript" src="/js/html5shiv.js"></script>
<![endif]-->
<head>
<meta charset="utf-8">
<title>Ricston</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

{{ partial "style_tags.html" . }}
{{ partial "script_tags.html" . }}
</head>
<body>

<div id="container">
    <div id="wrapp">
        {{ partial "header/default_head_header.html" . }}

        <div id="content">
            <div class="container">
                {{ range first 5 .Data.Pages }}
                <div class="small-12 large-offset-1 large-10 columns">
                    {{ .Render "summary" }}
                    how is this possible

                    </hr>
                </div>
            </div>
            {{ end }}

            <div class="row">
                <div class="small-12 large-offset-1 large-10 columns">
                    View older posts in <a href="/posts" title="Posts archive">the archive</a>...
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

