<!-- All JavaScript Files (Remove those you will not use)-->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!-- JQUERY JS FILE -->
<script type="text/javascript" src="/js/flex-slider.min.js"></script>
<!-- FLEX SLIDER JS FILE -->
<script type="text/javascript" src="/js/navigation.min.js"></script>
<!-- MAIN NAVIGATION JS FILE -->
<script type="text/javascript" src="/js/jquery.layerslider.js"></script>
<!-- LAYER SLIDER JS FILE -->
<script type="text/javascript" src="/js/layerslider.transitions.js"></script>
<!-- LAYER SLIDER TRANSITIONS JS FILE -->
<!-- <script type="text/javascript" src="/js/map.min.js"></script> -->
<!-- GOOGLE MAP JS FILE -->
<script type="text/javascript" src="/js/jquery.theme.plugins.min.js"></script>
<!-- TRANSITIONS JS FILE -->
<script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>
<!-- CAROUSEL SLIDER JS FILE -->
<script type="text/javascript" src="/js/flickr.js"></script>
<!-- FLICKR WIDGET JS FILE -->
<script type="text/javascript" src="/js/instagram.js"></script>
<!-- INSTAGRAM WIDGET JS FILE -->
<script type="text/javascript" src="/js/jquery.twitter.js"></script>
<!--TWITTER WIDGET JS FILE -->
<script type="text/javascript" src="/js/prettyPhoto.min.js"></script>
<!-- PRETTYPHOTO JS FILE -->
<script type="text/javascript" src="/js/fitVids.js"></script>
<!-- FIT VIDEOS JS FILE -->
<script type="text/javascript" src="/js/isotope.min.js"></script>
<!-- ISOTOPE JS FILE -->
<script type="text/javascript" src="/js/custom.js"></script>
<!-- CUSTOMN JAVASCRIPT JS FILE -->
<!-- Style Switcher Files-->
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/styleswitch.js"></script>
<!-- <script type="text/javascript" src="/js/switcher.js"></script> -->
<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
<script type="text/javascript" src="/js/tmp/grey.js"></script>
