<link rel="shortcut icon" href="images/favicon.gif"/>
<link rel="stylesheet" href="/css/style.css" media="screen"/>
<link rel="stylesheet" id="main-color" href="/css/colors/orange-color.css" media="screen"/>
<link rel="stylesheet" href="/css/prettyPhoto.css" media="screen"/>
<link rel="stylesheet" href="/css/font-awesome/font-awesome.min.css" media="screen"/>
<link rel="stylesheet" href="/css/layer-slider.css" media="screen"/>
<link rel="stylesheet" href="/css/flexslider.css" media="screen"/>
<link rel="stylesheet" href="/css/fontello/fontello.css" media="screen"/>
<link rel="stylesheet" href="/css/foundation.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/ricstonCustom.css" />

<style type="text/css">
    .contact {
        font-family: "Open Sans",Arial,Verdana;
        font-weight: 400;
    }
    .contact span {
        color: #E33000;
        font-weight: 600;
    }
</style>
