<header id="header">
    <div class="container2">
    <div id="header-top">
        <div id="medium-20 columns">
            <div class="row">
                <div class="medium-8 columns left">
                    <a href="index.html" id="logo"><img src="/images/logo-ricston.png" width="150px" alt=""/></a>
                </div>
                <div class="medium-3 columns right contact">
                    <div class="row ">
                        <div style="color: #898989">
                            <a href="#"><i style="color: #898989" class="icon-social-twitter"></i></a>
                            <a href="#"><i style="color: #898989" class="icon-social-linkedin"></i></a>
                            <a href="#"><i style="color: #898989" class="icon-social-gplus"></i></a>
                            <a href="#"><i style="color: #898989" class="icon-social-skype"></i></a>
                            <a href="#"><i style="color: #898989" class="icon-social-dribbble"></i></a>
                            <a href="#"><i style="color: #898989" class="icon-social-pinterest"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        Contact Phone
                    </div>
                    <div class="row">
                        UK: <span>+44 (0)20 719 351 07</span>
                    </div>
                    <div class="row">
                        Malta: <span> +356 2133 4457</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main-navigation" class="container" >
        <div class="container">
            <ul class="main-menu">
                <li id="ricston-home-nav-menu">
                    <a href="/index.html" title="Home">Home </a>
                    <ul>
                        <li><a href="/aboutus/">About Us</a></li>
                        <li><a href="/ourservices/">Our Services</a></li>
                    </ul>
                </li>
                <li id="ricston-industries-nav-menu">
                    <a href="/industries">Industries</a>
                    <ul>
                        <li><a href="/industries/telecom"><i class="icon-user"></i>Telecom</a></li>
                        <li><a href="/industries/media"><i class="icon-user"></i>Media &amp; Retail</a></li>
                        <li><a href="/industries/insurance"><i class="icon-user"></i>Insurance</a></li>
                        <li><a href="/industries/finance"><i class="icon-user"></i>Finance</a></li>
                        <li><a href="/industries/government"><i class="icon-user"></i>Government</a></li>
                        <li><a href="/industries/research"><i class="icon-user"></i>Research</a></li>
                    </ul>
                </li>
                <li id="ricston-tech-nav-menu">
                    <a href="/tech">Tech</a>
                    <ul>
                        <li><a href="/tech/analytics/">Analytics</a></li>
                        <li><a href="/tech/bigdata/">Big Data</a></li>
                        <li><a href="/tech/devops/">Dev Ops</a></li>
                        <li><a href="/tech/opensource/">Open Source</a></li>
                    </ul>
                </li>
                <li id="ricston-integration-nav-menu"><a href="/integration">Integration</a></li>
                <li id="ricston-casestudies-nave-menu"><a href="/casestudies">Case Studies</a></li>
                <li><a href="http://ricston.com/blog">Blog</a></li>
                <li id="ricston-contactus-nav-menu"><a href="/contactus/">Contact Us</a></li>
            </ul>
            <nav class="top-search">
                <form action="404-error.html" method="get">
                    <button class="search-btn"></button>
                    <input class="search-field" type="text" onblur="if(this.value=='')this.value='Search';" onfocus="if(this.value=='Search')this.value='';" value="Search"/>
                </form>
            </nav>
        </div>
    </div>
</header>
