<div id="r-contact-us-wrapper" class="row">
    <div class="small-12 medium-12 large-12 columns">
        <div class="r-contact-us-office">
            <h2>UK Office</h2>

            <b>Address</b>
            <p>Unit 5, 520 Chiswick High Road, Chiswick, London, UK.</p>

            <b>Phone</b>
            <p>+44 (0)20 719 351 07</p>     

            <b>Mob</b>
            <p>+44 (0)78 732 938 96</p>
        </div>
        <hr>
        <div class="r-contact-us-office">
            <h2>Malta Office</h2>

            <b>Address</b>
            <p>Northfields, Suite 4, Independence Avenue, Mosta, MST9026, Malta.
                    <a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=111982928139554744243.000461afbbfc9f47922a8&ll=35.91102,14.427409&spn=0.016754,0.038624&source=embed">(view a larger map)</a>
            </p>
            
        
            <b>Phone</b>
            <p>+356 2133 4457</p>

            <b>Fax</b>
            <p>+356 2133 4156</p>

            <b>Email</b>
            <p>You can reach us on <span class="r-email-hl">info</span> at <span class="r-email-hl">ricston.com</span> or by using the contact form below.</p>
        </div>
        <hr>
    </div>
</div>
