<div class="row">
    <div id="contactForm" class="small-10 medium-10 large-10 columns">
        <h3>Send us a message!</h3>
        <form id="myForm" method="post" data-abide>
            <small class="error">Your full name is required.</small>
            <input type="text" placeholder="Full Name" required>
            <small class="error">An email address is required.</small>
            <input type="email" placeholder="Email" required>
            <input type="tel" placeholder="Phone number">
            <input type="text" placeholder="Subject" required>
            <small class="error">Your message is required.</small>
            <textarea placeholder="Enter your message here" required></textarea>
            <input type="submit" class="nice blue radius button" value="Send Message"></button></a>
        </form>
    </div>
</div>
